In [64]:
import time
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
from urllib.parse import urljoin
import csv
import pickle
import numpy as np
import pandas as pd
import pickle
import jdatetime
#starting date = 29 tir

In [99]:
df = pd.read_csv("data.csv")
# Define the start date
start_date = jdatetime.date(1402, 4, 28)

C:\Users\Arian_Gh\AppData\Local\Temp\ipykernel_1624\1952307102.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data.csv")

In [100]:
#df.head()

In [101]:
# Dictionary for the column mappings
column_dict = {
    'اندازه سازمان' : 'Company Size',
    'صنعت' : 'Industry',
    'جنسیت': 'Gender',
    'تحصیلات' : 'Education',
    'زبان' : 'Language',
    'نرم افزارها' : 'Software',
    'خدمت سربازی' : 'Military service',
    'سن' : 'Age'
}

# For each key-value pair in the dictionary
for persian_column, english_column in column_dict.items():

    df[persian_column].fillna(df[english_column], inplace=True)

In [102]:
del df["Company Size"],df["Industry"],df["Gender"],df["Education"],df["Language"],df["Software"],df["Military service"],df["Age"]

In [103]:
#df.head()

In [104]:
df.columns

Index(['اندازه سازمان', 'تحصیلات', 'جنسیت', 'حقوق', 'روز و ساعت کاری', 'زبان',
       'زمان', 'سفرهای کاری', 'سن', 'صنعت', 'مزایا و تسهیلات', 'مکان',
       'نام آگهی', 'نرم افزارها', 'خدمت سربازی', 'سابقه کاری'],
      dtype='object')

In [105]:
df.rename(columns={'زبان': 'language', 'روز و ساعت کاری': 'workdays','حقوق':"salary",
                   "جنسیت":"gender",'تحصیلات':'education','اندازه سازمان':"company_size",
                   'مکان':'location','مزایا و تسهیلات':"bonus",'صنعت':'industry',
                    'سفرهای کاری':'business_trip','military':'خدمت سربازی'},inplace=True)

In [106]:
df = df.rename(columns={
    'زمان':'time',
    'سن' : 'age',
    'نام آگهی' : 'ad_name',
    'نرم افزارها': 'softwares',
    'خدمت سربازی':'military_services',
    'سابقه کاری': 'experience'
})

In [107]:
df["time"] = df["time"].apply(lambda x: str(x).strip("()"))
df["time"] = df["time"].apply(lambda x: x.split(" ")[0])

In [108]:
df["time"] = df["time"].apply(lambda x: 0 if x=="امروز" else x)
df["time"] = df["time"].apply(lambda x: 1 if x=="دیروز" else x)
df["time"] = df["time"].apply(lambda x: 30 if x=="nan" else x)
df["time"] = df["time"].apply(lambda x: 0 if x=="Today" else x)
df["time"] = df["time"].apply(lambda x: 1 if x=="Yesterday" else x)

In [110]:

# Convert the 'time' column to a list of timedelta objects
time_deltas = [jdatetime.timedelta(days=x) for x in df['time'].astype("int")]

# Subtract each timedelta from the start date
df['date'] = [start_date - td for td in time_deltas]
del df["time"]

In [115]:
df

,company_size,education,gender,salary,workdays,language,business_trip,age,industry,bonus,location,ad_name,softwares,military_services,experience,date
0,11 تا 50 نفر,['کارشناسی| مالی و حسابداری'],ترجیحاً خانم,NaN,شنبه تا چهارشنبه 8 الی 16,['انگلیسی| متوسط ۵۰٪'],-,23 - 33 سال,نفت، گاز و پتروشیمی,-,تهران، فاطمی,کارشناس حسابداری,"['Microsoft Word| متوسط', 'Microsoft Excel| مت...",NaN,NaN,1402-03-23
1,51 تا 200 نفر,NaN,فقط آقا,12 - 10 میلیون تومان,شنبه تا چهارشنبه 8 تا 17:33، پنجشنبه 8:30 تا ...,NaN,-,23 - 45 سال,تولیدی / صنعتی,پاداش -بیمه درمان تکمیلی,رباط کریم,کارگر ساده - آقا,NaN,اتمام خدمت سربازی و یا معافیت از آن الزامی است,NaN,1402-02-26
2,بیش از 5000 نفر,NaN,تفاوتی ندارد,NaN,شنبه تا چهارشنبه 7 الی 16,NaN,-,تا 35 سال,بانکداری,وام -پاداش -بیمه درمان تکمیلی -تسهیلات تفری...,تهران، آرژانتین,کارشناس موشن گرافیست,"['Adobe Photoshop| پیشرفته', 'Adobe Illustrato...",اتمام خدمت سربازی و یا معافیت از آن الزامی است,NaN,1402-02-11
3,11 تا 50 نفر,NaN,تفاوتی ندارد,20 - 15 میلیون تومان,10 تا 20,['انگلیسی| متوسط ۵۰٪'],-,25 - 43 سال,سرمایه گذاری و مالی,پورسانت,تهران، جردن,مدیر اجرایی,"['Microsoft Word| متوسط', 'Microsoft Powerpoin...",NaN,NaN,1402-02-12
4,501 تا 1000 نفر,NaN,فقط آقا,NaN,شیفت شب ( 3 روز در هفته ),['انگلیسی| متوسط ۵۰٪'],-,20 - 30 سال,سرمایه گذاری و مالی,بیمه درمان تکمیلی -اتاق بازی -ناهار -میان و...,کرج، حیدرآباد,کارشناس مرکز تماس ( شیفت شب) - آقا,NaN,اتمام خدمت سربازی و یا معافیت از آن الزامی است,NaN,1402-04-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34096,51 تا 200 نفر,['کارشناسی ارشد| شیمی'],تفاوتی ندارد,NaN,شنبه تا چهارشنبه 7:30 الی 16 و پنجشنبه ها یک د...,['انگلیسی| متوسط ۵۰٪'],-,22 - 50 سال,تولیدی / صنعتی,-,ساوه,مسئول فنی (معاونت غذا و دارو),NaN,NaN,NaN,1402-03-21
34097,201 تا 500 نفر,"['کاردانی| مهندسی برق', 'کاردانی| مهندسی مکانی...",فقط آقا,NaN,همه روزه 7:30 الی 16:00 - پنج شنبه ها یک هفته ...,['انگلیسی| متوسط ۵۰٪'],-,25 - 40 سال,تولیدی / صنعتی,-,نظر آباد,تکنسین نگهداری و تعمیرات - آقا,NaN,NaN,NaN,1402-04-19
34098,501 تا 1000 نفر,['کارشناسی| مالی و حسابداری'],تفاوتی ندارد,NaN,شنبه تا چهارشنبه 8:00 الی 17:00,['انگلیسی| مقدماتی ۱۰٪'],-,24 - 37 سال,دارو,وام -پاداش -پورسانت -بیمه درمان تکمیلی -اق...,تهران، تولید دارو,کارشناس حسابداری فروش,"['Microsoft Word| متوسط', 'Microsoft Powerpoin...",اتمام خدمت سربازی و یا معافیت از آن الزامی است,NaN,1402-02-07
34099,11 تا 50 نفر,NaN,فقط خانم,10 - 8 میلیون تومان,9 - 17,NaN,-,35 - 45 سال,تولیدی / صنعتی,وام -پاداش -ناهار,تهران، قلهک,کارمند اداری - خانم,"['Microsoft Excel| متوسط', 'Microsoft Word| مت...",NaN,NaN,1402-03-28
34100,11 تا 50 نفر,NaN,تفاوتی ندارد,NaN,شنبه تا چهار شنبه 08:00 الی 17:30,NaN,-,20 - 30 سال,مد و کالاهای لوکس,سرویس رفت و برگشت,کرج، مهرشهر - فاز 3,اپراتور تولید,NaN,اتمام خدمت سربازی و یا معافیت از آن الزامی است,NaN,1402-03-28

In [ ]:
hello